.user-inputs {
  display: flex; 
  flex-direction: column;
  justify-content: space-evenly;
  width: 35%;
}

.user-inputs > button { 
  width: 10%;
  background: #9FC088;
}

#flask-wrapper { 
  position: relative;
  height: 70%;
  width: 100%;
  font-size: 15px;
  overflow: hidden;

  span, textarea, code{ 
    font-size: 15px;
  }

  textarea {
    color: transparent;
  }
}

#params-wrapper { 
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  color: #CC704B;
  font-size: 15px;

  > span { 
    min-width: 15px;    
    background: $background;
    color: black;

    &:focus {
      outline: none;
      background: #dcdcdc;
    }
  }
}

.codeflask--has-line-numbers{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.codeflask > textarea{ 
  background: #dcdcdc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


// text decoration

.codeflask .token.punctuation {
    color: $color4;
  }
  .codeflask .token.keyword {
    color: #9c4421;
  }
  .codeflask .token.operator {
    color: #c49647;
  }
  .codeflask .token.string {
    color: #678056;
  }
  .codeflask .token.comment {
    color: #678056;
  }
  .codeflask .token.function {
    color: #CC704B;
  }
  .codeflask .token.boolean {
    color: #678056;
  }
  .codeflask .token.number {
    color: #678056;
  }
  .codeflask .token.selector {
    color: #678056;
  }
  .codeflask .token.property {
    color: #678056;
  }
  .codeflask .token.tag {
    color: #678056;
  }
  .codeflask .token.attr-value {
    color: #678056;
  }
