.user-inputs {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    margin-left: 30px;
}

.user-inputs > button { 
    width: 10%;
    background: #9FC088;
}

#flask-wrapper { 
    position: relative;
    height: 70%;
    width: 100%;
    margin-left: 30px;
}

#params-wrapper { 
    position: relative; 
    height: 18%; 
    width: 25%;
    margin-left: 30px;
  }
  
.user-inputs > button { 
  margin-left: 30px;
}

.codeflask > textarea{ 
  background: #dcdcdc;
  border-radius: 5px;
}

// text decoration

.codeflask .token.punctuation {
    color: #4a4a4a;
  }
  .codeflask .token.keyword {
    color: #CC704B;
  }
  .codeflask .token.operator {
    color: #ff5598;
  }
  .codeflask .token.string {
    color: #41ad8f;
  }
  .codeflask .token.comment {
    color: #9FC088;
  }
  .codeflask .token.function {
    color: #CC704B;
  }
  .codeflask .token.boolean {
    color: #8500ff;
  }
  .codeflask .token.number {
    color: #9FC088;
  }
  .codeflask .token.selector {
    color: #8500ff;
  }
  .codeflask .token.property {
    color: #8500ff;
  }
  .codeflask .token.tag {
    color: #8500ff;
  }
  .codeflask .token.attr-value {
    color: #8500ff;
  }
