.call-arrow {
    stroke: black;
    stroke-width: 2;
}

.hidden { 
    visibility: hidden;
}

.result-text { 
    font-size: 8; 
    text-anchor: middle; 
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    alignment-baseline: central;
}


