.call-arrow {
    stroke: #614124;
    stroke-width: 2;
}

.arrow-wrapper {
    fill: #614124;
}

.hidden { 
    visibility: hidden;
}

.result-text { 
    font-size: 10; 
    text-anchor: middle; 
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    alignment-baseline: central;
}

