@import "./variables.scss";
@import "./tree_visualizer/styles/graph.scss";
@import "./controller/styles/controller.scss";
@import "./tree_visualizer/styles/tree_node.scss";
@import "./tree_visualizer/styles/arrow.scss";
@import "./tree_visualizer/styles/nav_steps.scss";
@import "./controller/styles/user_input.scss";
@import "./controller/styles/default_functions.scss";
@import "./error/styles/error.scss";


#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    font-family:'Times New Roman', Times, serif;
    background: $background;
}

.bottom-container { 
    width: 100%;
    height: 70%;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}