@import "./tree_visualizer/styles/graph.scss";
@import "./controller/styles/controller.scss";
@import "./tree_visualizer/styles/tree_node.scss";
@import "./tree_visualizer/styles/arrow.scss";
@import "./tree_visualizer/styles/nav_steps.scss";

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    font-family:'Times New Roman', Times, serif;
}